$dark: #1f1f1f;
$gray: #444444;
$lightGray: #999999;
$red: #e21339;
$white: #ffffff;

$mobileBreakpoint: 500px;

@import './_profile';
@import './project-allocations';

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}
body{
    background-color: $dark;
}
h2{
    font-size: 28px;
    @media (max-width: $mobileBreakpoint) {
        font-size: 16px;
    }
}
p,a,button,tr,th{
    font-size: 14px;
    @media (max-width: $mobileBreakpoint) {
        font-size: 12px;
    }
}
th{
    color: $lightGray;
}
button{
    background-color: $red;
    color: $white;
    text-decoration: none;
    border: none;
    font-weight: bolder;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    &:focus{
        outline: 0;
    }
}

/*---------------SIDE-BAR---------------*/
.side-bar{
    background-color : $dark;
    width: 18%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-right: 2px solid $gray;

    @media (max-width: $mobileBreakpoint) {
        width: 100vw;
        margin-left: -100vw;
        border: none;
    }
}

.side-bar-menu{
    margin-top: 10%;
    padding: 0 10%;
    ul li{
        list-style: none;
        margin: 4% 0;
        position: relative;
        display: flex;
        &:not(:first-child):not(:last-child){
            border-bottom: 2px solid $gray;
        }
    }
    a{
        width: 100%;
        text-decoration: none;
        color: $white;
        &:hover{
            color: $red;
            transition: width 0.5s;
        }
    }
    button{
        width: 100%;
        &:hover{
            background-color: $white;
            color: $red;
            transition: 0.5s;
            transform: scale(1.05 , 1.05);
            a{
                color: $red;
            }
        }
    }
    #close{
        display: none;
        @media (max-width: $mobileBreakpoint) {
            display: block;
            width: 10%;
            margin-left: 1%;
            background-color: $white;
            color: $red;
        }
    }

}
.pop-up-menu{
    display: none;

    @media (max-width: $mobileBreakpoint) {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        span {
            display: block;
            width: 25px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            background: $red;
            z-index: 1;
          }
    }
}


/*---------------MAIN-CONTAINER---------------*/
.display{
    background-color: $dark;
    width: 82%;
    height: 100%;
    position: absolute;
    height: fit-content;
    top: 0;
    right: 0;

    @media screen and (max-width: $mobileBreakpoint) {
        width: 100%;
    }
}

.display-container{
    background-color: $white;
    width: 95%;
    left: 50%;
    margin: 2% 0;
    padding-bottom: 2%;
    transform: translateX(-50%);
    position: relative;
    border-radius: 5px;
    @media (max-width: $mobileBreakpoint) {
        margin: 4% 0;
        width: 90%;
        padding: 2%;
    }
}


.display-header{
    padding: 2% 0;
    width: 94%;
    margin: 0 auto;
    border-bottom: 1px solid $lightGray;
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobileBreakpoint) {
        display: block;
        position: relative;
        text-align: right;
    }
}

.header-controls{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    button{
        margin-left: 1%;
        transition: 0.4s;
        &:hover{
            filter: drop-shadow(0px 1px 8px rgba(31, 31, 31, 0.3));
            transform: scale(1.05 , 1.05);
        }
    }
    @media (max-width: $mobileBreakpoint) {
        width: 100%;
    }
}

.info{
    width: 94%;
    margin: 2% auto;
}