.profile-info .main-table {
  width: 100%;
}

.profile-info .main-table th {
  width: 18%;
  padding: 1% 1% 1% 0;
  text-align: left;
  text-transform: uppercase;
}

.profile-info .main-table a {
  color: #e21339;
}

@media (max-width: 500px) {
  .profile-info .main-table th {
    padding: 3% 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .profile-info .main-table td {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
  }
}

.horizontal-table {
  padding-bottom: 2%;
}

.horizontal-table table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  overflow-x: scroll;
  white-space: nowrap;
}

.horizontal-table table th, .horizontal-table table td {
  padding: 1% 0;
  border-bottom: 1px solid #999999;
}

.horizontal-table table th {
  text-transform: none;
  color: #000;
  text-align: left;
}

@media (max-width: 500px) {
  .horizontal-table table {
    display: block;
  }
  .horizontal-table table td, .horizontal-table table th {
    padding-right: 30px;
  }
}

.holidays table td:first-child {
  font-weight: bolder;
}

.vacations ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 0;
}

.vacations ul li {
  list-style: none;
}

.vacations ul a {
  color: #e21339;
  padding: 0 5px;
}

.vacations ul .dot {
  background-color: #e21339;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0 2px;
  cursor: pointer;
}

.vacations ul .dot:nth-child(n+3) {
  opacity: 0.35;
}

.color {
  width: 23px;
  height: 23px;
  border-radius: 5px;
}

/*-------------ALLOCATIONS-CHART------------*/
.allocations-info {
  width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  direction: rtl;
  white-space: nowrap;
}

.allocations-info table {
  direction: ltr;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
  position: relative;
}

.allocations-info table thead th {
  background-color: #e21339;
  outline: 1px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  padding: 7.5px 0;
}

@media (max-width: 500px) {
  .allocations-info table thead th {
    padding: 5px 0;
  }
}

.allocations-info table thead td {
  padding: 7.5px 10px;
  background-color: #ffffff;
  border: 1px solid #999999;
}

@media (max-width: 500px) {
  .allocations-info table thead td {
    padding: 2.5px 5px;
  }
}

.allocations-info table th[scope=row] {
  border-radius: 0;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #F3F3F3;
  outline: 1px solid #F3F3F3;
  -webkit-box-shadow: 4px 0 3px -2px rgba(31, 31, 31, 0.35);
          box-shadow: 4px 0 3px -2px rgba(31, 31, 31, 0.35);
}

.allocations-info table .employee th {
  padding: 10px 5px;
  text-align: left;
  left: 0;
  color: #1f1f1f;
}

@media (max-width: 500px) {
  .allocations-info table .employee th {
    white-space: normal;
    padding: 0 5px;
  }
}

.allocations-info table .employee:nth-child(even) th {
  background-color: #ffffff;
  outline: 1px solid #ffffff;
}

.allocations-info table .employee td {
  background-color: #F3F3F3;
  -webkit-box-shadow: inset 1px 1px 3px 1px rgba(31, 31, 31, 0.35);
          box-shadow: inset 1px 1px 3px 1px rgba(31, 31, 31, 0.35);
  position: relative;
  padding: 0;
  border-radius: 0px 5px 5px 0;
}

.allocations-info table .employee td .project {
  color: #ffffff;
  font-weight: normal;
  margin: 0.5% 0;
  padding: 0.2% 1%;
  border-radius: 5px;
  text-align: right;
}

@media (max-width: 500px) {
  .allocations-info table .employee td .project p {
    font-size: 10px;
  }
}

.allocations-info table .employee td .mdrev {
  background-color: #87CC6F;
}

.allocations-info table .employee td .localista {
  background-color: #1f1f1f;
}

.allocations-info table .employee td .retaileye {
  background-color: #448ACB;
}

.allocations-info table .employee td .marketing {
  background-color: #FB8B8B;
}

.allocations-info table .employee td .rebranding {
  background-color: #e4590d;
}

.allocations-info table .employee td .plae {
  background-color: #ffb5f6;
}

.allocations-info table .employee td .sleassociates {
  background-color: #8a35c7;
}

/*-------------NEW-ALLOCATIONS-FORM------------*/
.display-new-allocation {
  display: none;
}

.new-allocation {
  padding: 2% 0;
  margin: 0 auto;
  width: 94%;
}

.new-allocation form {
  width: 100%;
  margin-top: 2%;
}

.new-allocation form * {
  width: 70%;
  border-radius: 5px;
  -webkit-appearance: none;
}

@media (max-width: 500px) {
  .new-allocation form * {
    width: 100%;
  }
}

.new-allocation form label {
  display: block;
  font-weight: bolder;
}

.new-allocation form label.required:after {
  color: #e21339;
  content: " *";
}

.new-allocation form input[type=text], .new-allocation form input[type=date], .new-allocation form input[type=number], .new-allocation form select {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #999999;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #444444;
}

.new-allocation form input[type=submit] {
  background-color: #e21339;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin: 8px 0;
  border-style: none;
}

.new-allocation form input[type=submit]:hover {
  -webkit-filter: drop-shadow(0px 1px 8px rgba(31, 31, 31, 0.3));
          filter: drop-shadow(0px 1px 8px rgba(31, 31, 31, 0.3));
  -webkit-transform: scale(1.01, 1.01);
          transform: scale(1.01, 1.01);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

body {
  background-color: #1f1f1f;
}

h2 {
  font-size: 28px;
}

@media (max-width: 500px) {
  h2 {
    font-size: 16px;
  }
}

p, a, button, tr, th, label, input {
  font-size: 14px;
}

@media (max-width: 500px) {
  p, a, button, tr, th, label, input {
    font-size: 12px;
  }
}

th {
  color: #999999;
}

input:focus, button:focus, select:focus {
  outline: 0;
}

button {
  background-color: #e21339;
  color: #ffffff;
  text-decoration: none;
  border: none;
  font-weight: bolder;
  padding: 2%;
  border-radius: 5px;
  cursor: pointer;
}

/*-----------------SIDE-BAR----------------*/
.side-bar {
  background-color: #1f1f1f;
  width: 18%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: auto;
  border-right: 2px solid #444444;
}

@media (max-width: 500px) {
  .side-bar {
    width: 100vw;
    margin-left: -100vw;
    border: none;
  }
}

.side-bar-menu {
  margin-top: 10%;
  padding: 0 10%;
}

.side-bar-menu ul li {
  list-style: none;
  margin: 4% 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-bar-menu ul li:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #444444;
}

.side-bar-menu a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

.side-bar-menu a:hover {
  color: #e21339;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.side-bar-menu button {
  width: 100%;
}

.side-bar-menu button:hover {
  background-color: #ffffff;
  color: #e21339;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-bar-menu button:hover a {
  color: #e21339;
}

.side-bar-menu #close {
  display: none;
}

@media (max-width: 500px) {
  .side-bar-menu #close {
    display: block;
    width: 10%;
    margin-left: 1%;
    background-color: #ffffff;
    color: #e21339;
  }
}

.pop-up-menu {
  display: none;
}

@media (max-width: 500px) {
  .pop-up-menu {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .pop-up-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #e21339;
    z-index: 1;
  }
}

/*-----------------MAIN-CONTAINER----------------*/
.display {
  background-color: #1f1f1f;
  width: 82%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 500px) {
  .display {
    width: 100%;
  }
}

.display-container {
  background-color: #ffffff;
  min-height: 90vh;
  width: 95%;
  left: 50%;
  margin: 2% 0;
  padding-bottom: 2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .display-container {
    margin: 4% 0;
    width: 90%;
    padding: 2%;
    min-height: 84vh;
  }
}

.display-header {
  padding: 2% 0;
  width: 94%;
  margin: 0 auto;
  border-bottom: 1px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .display-header {
    display: block;
    position: relative;
    text-align: right;
  }
}

.header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

.header-controls button {
  margin-left: 1%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-controls button:hover {
  -webkit-filter: drop-shadow(0px 1px 8px rgba(31, 31, 31, 0.3));
          filter: drop-shadow(0px 1px 8px rgba(31, 31, 31, 0.3));
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media (max-width: 500px) {
  .header-controls {
    width: 100%;
  }
}

.info {
  width: 94%;
  margin: 2% auto;
}
/*# sourceMappingURL=style.css.map */