$dark: #1f1f1f;
$gray: #444444;
$lightGray: #c2c2c2;
$red: #e21339;
$white: #ffffff;

*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}
p,a,button,tr,th{
    font-size: 14px;
}
th{
    color: $lightGray;
}
button, input{
    background-color: $red;
    color: $white;
    text-decoration: none;
    border: none;
    font-weight: bolder;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    font-size: 28px;
}
body{
    background-color: $dark;
}


/*---------------SIDE-BAR---------------*/
.side-bar{
    background-color : $dark;
    width: 18%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-y: auto;
    border-right: 2px solid $gray;
}
.side-bar-menu{
    margin-top: 10%;
    padding: 0 10%;
}
.side-bar-menu ul li{
    list-style: none;
    margin: 4% 0;
    position: relative;
}

.side-bar-menu ul li:not(:first-child,:last-child) {
    border-bottom: 2px solid $gray;
}

.side-bar-menu a{
    text-decoration: none;
    color: $white;

}
.side-bar-menu a:hover{
    color: $red;
    transition: width 0.5s;
}
.side-bar-menu form{
    width: 100%;
}
.side-bar-menu input{
    width: 100%;
}
.side-bar-menu input:hover{
    background-color: $white;
    color: $red;
    transition: 0.5s;
    transform: scale(1.05 , 1.05);
}


/*---------------MAIN-CONTAINER---------------*/
.display-header{
    padding: 2% 0;
    width: 94%;
    margin: 0 auto;
    border-bottom: 1px solid $lightGray;
    display: flex;
    justify-content: space-between;
}
.header-controls{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.header-controls button{
    margin: 0 1%;
    transition: 0.4s;
}
.header-controls button:hover{
    filter: drop-shadow(0px 1px 8px rgba(31, 31, 31, 0.3));
    transform: scale(1.05 , 1.05);
}

.display{
    background-color: $dark;
    width: 82%;
    height: 100%;
    position: absolute;
    height: fit-content;
    top: 0;
    right: 0;
}

.display-container{
    background-color: $white;
    width: 95%;
    left: 50%;
    margin: 2% 0;
    padding-bottom: 2%;
    transform: translateX(-50%);
    position: relative;
    border-radius: 5px;
}
